{% for item in groups['bastion'] %}
{% set short_name = hostvars[item]['ansible_fqdn'].split('.') %}
{{ hostvars[item]['ansible_host'] }}  {{ hostvars[item]['ansible_fqdn'] }} {{ short_name[0] }} bastion 
{% endfor %}
{% for item in groups['cluster'] %}
{% set short_name = hostvars[item]['ansible_fqdn'].split('.') %}
{{ hostvars[item]['ansible_host'] }}  {{ hostvars[item]['ansible_fqdn'] }} {{ short_name[0] }} cluster-node-{{ loop.index }} cluster-node-{{ loop.index }}.local.vcn quobyte-cluster-node-{{ loop.index }} quobyte-cluster-node-{{ loop.index }}.local.vcn
{% endfor %}
{% for item in groups['compute'] %}
{% set short_name = hostvars[item]['ansible_fqdn'].split('.') %}
{{ hostvars[item]['ansible_host'] }}  {{ hostvars[item]['ansible_fqdn'] }} {{ short_name[0] }} compute-node-{{ loop.index }} compute-node-{{ loop.index }}.local.vcn quobyte-compute-node-{{ loop.index }} quobyte-compute-node-{{ loop.index }}.local.vcn
{% endfor %}

