# Client network
client_network: {{ private_fs_subnet_cidr_block }}

#Service network
service_network: {{ private_storage_subnet_cidr_block }}

#
# Mount point for the Quobyte client
mountpoint: {{ mount_point }}

